<!DOCTYPE html>
<html>
<body>
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li class="current-page"><a href="index.html"><i class="fa fa-home"></i> 接入公司管理 </a></li>
                <li><a href="course.html"><i class="fa fa-graduation-cap"></i> 课程管理 </a></li>
                <li><a href="question.html"><i class="fa fa-book"></i> 题目管理 </a></li>
                <li><a href="exam.html"><i class="fa fa-desktop"></i> 考试管理 </a></li>
                <li><a href="certificate.html"><i class="fa fa-trophy"></i> 证书管理 </a></li>
            </ul>
        </div>
    </div>
</body>
</html>